*{
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
	 background-color: #F4F4F4;
}
.img_div{
    padding: 3%;
     display: flex;
     flex-direction: column;
/*    background-color: green;
*/
}

.img_div img{
            padding:40px;
            }
 img{
	 border-radius: 50%;
    }
h2{
	font-family: "Raleway",Helvetica,sans-serif;
	padding: 0 40px;
	font-size: 900;
	text-transform: uppercase;
    letter-spacing: .25em;
}
 p{
	width: 90em auto;
	/*background-color: green;*/
	padding: 20px 80px;
	font-weight: 400;
	letter-spacing: .06em;
	text-transform: uppercase;
}
 h3{
	font-family: "Raleway",Helvetica,sans-serif;
	padding: 40px;
	font-size: 900;
	text-transform: uppercase;
    letter-spacing: .25em;
}
.profile_name p{
    padding:1px 80px;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: .06em;
	color: #646464;

}
@media screen and (max-width: 736px){

}